
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 264 17% 11%;
    --foreground: 0 0% 100%;
    --card: 264 17% 13%;
    --card-foreground: 0 0% 100%;
    --popover: 264 17% 11%;
    --popover-foreground: 0 0% 100%;
    --primary: 266 76% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 93% 58%;
    --secondary-foreground: 0 0% 100%;
    --muted: 264 17% 20%;
    --muted-foreground: 264 5% 70%;
    --accent: 266 76% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 264 17% 20%;
    --input: 264 17% 20%;
    --ring: 266 76% 61%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  input[type="range"] {
    @apply h-2 bg-muted rounded-lg appearance-none cursor-pointer accent-primary;
  }
}
